*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.utilityHeaderWrap{
    background-color: rgb(204, 0, 0);
    height: 35px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}
.utilityHeader{
    border: solid black;
    height: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}
.headerBtn{
    border:solid blue;
    display: flex;

}
.address{
    border: solid green;
    display: block;
    color: white;
    font-size: 14px;
}
.storeLocation{
    border: solid orange;
    color: white;
    font-size: 14px;
}
.address,.storeLocation{
    margin-right: 20px;
    height: 20px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color;
}
.address:hover, .storeLocation:hover {
    background-color: rgba(139, 0, 0, 0.8);
}
.headerLinkCont{
    border: solid plum;
    display: flex;
    justify-content: space-evenly;
}
.headerLink{
    padding:8px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.headerLink:hover{
    text-decoration: underline;
}
.navbarWrap{
    border: solid salmon;
    background-color:  white;
    display: block;
    height: 85px;

}
.navbar{
    border: solid brown;
    display: flex;
    justify-content: space-evenly;
}
.pagebanner{
    position: relative;
    border: solid peru;
    margin: 0 10%;
    max-width: 1300px;
    height: auto;
}
.pagebanner > img{
    max-width: 100%;
    height: auto;
    display: block;
}
.overlay {
    position: absolute; 
    bottom: 0;
    left: 0;
    padding: 20px; 
 
}

.overlay p {
    margin:0px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 22px;
}

.overlay button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.styleCards{
    border: solid green;
    display: flex;
    max-width: 1300px;
    height: auto;
    justify-content: center;
    background-color: rgb(250, 208, 200);
}

.firstCard,.secondCard,.thirdCard{
    width: 70px;
    height: auto;
    max-width: 100px;
}

